# Terraform secrets and state
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
*.tfstate
*.tfstate.backup

# IDE
.idea/

# Environment files
.env

# App
app/.env
app/frontend/node_modules/
app/frontend/dist/

# macOS
.DS_Store
